<div class="sheet-info wrap feature-wrap">
  <div class="g-wrap6">

    <div class="m-info clearfix">
      <div class="cover">
        <img [src]="sheetInfo.coverImgUrl" alt="sheetInfo.name">
        <div class="mask"></div>
      </div>

      <div class="cnt">
        <div class="cntc">
          <!-- 大头像 -->
          <div class="hd clearfix">
            <i class="f-pr"></i>
            <div class="tit">
              <h2 class="f-ff2 f-brk">{{sheetInfo.name}}</h2>
            </div>
          </div>

          <div class="user f-cb">
            <a class="face" [hidden]="!sheetInfo.creator" [href]="'//music.163.com/artist?id=' + sheetInfo.userId">
              <img [src]="sheetInfo.creator?.avatarUrl" [alt]="sheetInfo.creator?.nickname">
            </a>
            <span class="name">
              <a [href]="'//music.163.com/artist?id=' + sheetInfo.userId"
                class="s-fc7">{{sheetInfo.creator?.nickname}}</a>
            </span>
            <span class="time s-fc4">{{sheetInfo.createTime | date: 'yyyy-MM-dd'}} 创建</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
