<div class="home">
  <wy-carousel #wyCarousel [activeIndex]="carouselIndex" (changeSlide)="onChangeSlide($event)">
    <nz-carousel nzAutoPlay nzEffect="fade" [nzDotRender]="wyCarousel.dotRef" (nzBeforeChange)="onBeforeChange($event)">
      <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
        <a [href]='item.url' target='_blank' class="banner-item">
          <img [src]="item.imageUrl" alt="">
        </a>
      </div>
    </nz-carousel>
  </wy-carousel>
  <!-- <div class="carousel wrap">

  </div> -->
</div>
