<div class="m-player" clickoutside [@showHide]="showPlayer" (onClickOutSide)='onClickOutSide($event)'
  [bindFlag]="bindFlag" (mouseenter)='toggerPlayer("show")' (mouseleave)="toggerPlayer('hide')"
  (@showHide.start)="animating=true" (@showHide.done)="onAnnmationDone($event)">
  <div class="lock" (click)="isLocked=!isLocked">
    <div class="left">
      <i [class.locked]="isLocked"></i>
    </div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev" (click)="onPrev(currentIndex-1)"></i>
        <i class="toggle" [class.playing]='playing' (click)='onToggle()'></i>
        <i class="next" (click)="onNext(currentIndex+1)"></i>
      </div>
      <div class="head">
        <img appImgDefault [src]="picUrl" alt="">
        <i class="mask" (click)="toInfo(['/songInfo',currentSong?.id])"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis margin-bottom-none" (click)="toInfo(['/songInfo',currentSong?.id])">{{currentSong?.name}}
          </p>
          <ul class="songs clearfix margin-bottom-none">
            <li *ngFor="let item of currentSong?.ar;last as isLast">
              <a (click)="toInfo(['/singer',item.id])">{{item.name}}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <wy-slider [(ngModel)]="persent" [bufferOffset]='bufferPersent' (wyOnAfterChange)='onPersentChange($event)'>
            </wy-slider>
          </div>
          <span class="time"><em>{{currentTime|formatTime}}</em> / {{duration|formatTime}}</span>
        </div>
      </div>

      <div class="oper">
        <i class="like" title="收藏" (click)="onLikeSong(currentSong.id.toString())"></i>
        <i class="share" title="分享" (click)="onShareSong(currentSong)"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量" (click)='toggleVolPanel()'></i>
        <i [ngClass]='currentMode.type' [title]='currentMode.label' (click)='onChangeMode()'></i>
        <p nz-tooltip [nzTitle]="controlTooltip.title" [nzVisible]="controlTooltip.show" nzOverlayClassName="tip-bg"
          class="open" (click)="toggleListPanel()">
          <span></span>
        </p>
        <div class="control-vol" [hidden]='!showVolumePanel'>
          <wy-slider [wyVertical]='true' [(ngModel)]="volume" (ngModelChange)='onVolumeChange($event)'></wy-slider>
        </div>
      </div>
      <app-wy-player-panel [songList]='songList' [currentSong]='currentSong' [show]='showPanel'
        (onClose)='showPanel=false' (onChangeSong)='onChangeSong($event)' [playing]="playing"
        (onDeleteSong)='onDeleteSong($event)' (onClearSong)='onClearSong($event)' (onToInfo)="toInfo($event)"
        (onLikeSong)="onLikeSong($event)" (onShareSong)="onShareSong($event)">
      </app-wy-player-panel>
    </div>
  </div>
  <audio #audioEl [src]='currentSong?.url' (canplay)='onCanplay()' (timeupdate)='onTimeUpdate($event)'
    (ended)='onEnded()' (error)="onError()"></audio>
</div>
