<div class="m-player">
  <div class="lock">
    <div class="left"><i></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev"></i>
        <i class="toggle"></i>
        <i class="next"></i>
      </div>
      <div class="head">
        <img src="https://p1.music.126.net/AgJPVd9Ng489G-G_sY9JRw==/109951164605789897.jpg" alt="">
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis">歌名</p>
          <ul class="songs clearfix">
            <li>
              <a>歌名1</a>/
            </li>
            <li>
              <a>歌名2</a>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">进度条</div>
          <span class="time"><em>02:21</em> / 04:45</span>
        </div>
      </div>

      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量"></i>
        <i class="loop" title="循环"></i>
        <p class="open">
          <span></span>
        </p>
      </div>
    </div>
  </div>
</div>
